body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#trains-table {
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  width: 80%;
  max-width: 400px;
  color: white;
  text-align: left;
  border-radius: 5px;
  background-color: black;
}

.row-number {
  width: 10%;
}

.arrives-in {
  width: 40%;
}

.destination {
  width: 50%;
}

#clock {
  margin: auto;
  margin-top: 10px;
  padding: 5px;
  width: 20%;
  min-width: 150px;
  max-width: 300px;
  color: white;
  text-align: center;
  border-radius: 5px;
  background-color: black;
}
